@{
    ViewData["Title"] = "Login Page";
}

<body>
    <form id="form1" runat="server">
        <div>
        </div>
    </form>

    <form name="login" asp-controller="Security" asp-action="LoginAttempt" method="post"
          enctype="application/x-www-form-urlencoded">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <input type="submit" value="Submit">
    </form>

</body>
</html>

<script>

</script>
