 @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="Foodmenu">
    <table class="Menutable">
        <thead>
            <th> Item</th>
            <th>Price</th>
        </thead>
    </table>
</div>

<style>
th{
    padding : 15px;
}
</style>
