    @model FormEncode.Models.IndexModel
    @using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";
}

<div class="Foodmenu">
    <table class="Menutable" asp-controller="Home" method="get" asp-action="getMenu">
            @foreach(var product in Model.ProductSet) 
            {
                <tr>
                    <td>@product.Product.Name</td>
                    <td>@product.Product.Price</td>
                    <td>
                    @if(product.ItemStock > 0) {
                        <button class="addbutton" asp>+</button>
                    }
                    </td>
                </tr>
            }
        @if (Model.User?.Username != null)
        {
            <tr>
                <td>@Model.SessionTag</td>
            </tr>
        }
            <tr>
            </tr>
    </table>
</div>
    